@import "common.css";

/* login form */
.login_block {
	width: 700px;
	padding: 40px 111px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	border-radius: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	margin-left: -350px;
}
.login_form .logo {
	position: relative;
	top: 0;
	left: 0;
	margin: 0 auto 25px;
	/*background: url("../images/logo2.gif") no-repeat;*/
	background-size: cover;
	width: 143px;
	height: 77px;
}
.login_form .title {
	text-align: center;
	font: 45px/45px 'open_sanslight', Arial, sans-serif;
	color: #0099ff;
	margin-bottom: 55px;
}
.login_form .label {
	font: 18px/18px 'open_sanslight', Arial, sans-serif;
	color: #7f7f7f;
}
.login_form .inp {
	font: 18px 'open_sansbold', Arial, sans-serif;
	color: #000000;
	width: 100%;
	border: none;
	outline: none;
}
.login_form .inp_field {
	padding: 0 32px;
}
.login_form .btn {
	width: 100%;
	padding: 23px;
	background: #0099ff;
	font: 30px/30px 'open_sanslight', Arial, sans-serif;
	border: none;
	color: #ffffff;
	cursor: pointer;
}
.login_form .btn:hover {
	opacity: 0.9;
}
.login_form .field {
	margin-bottom: 10px;
}
.field:after,
.tile_block:after {
	clear: both;
	display: block;
	content: '';
}

.login_form .pass_link {
	font: 18px/18px 'open_sanslight', Arial, sans-serif;
	color: #0099ff;
}

.login_form .pass_link {
	float: right;
}
.login_form .divider {
	margin: 0 0 12px;
	background: #cccccc;
	border: none;
	height: 1px;
}
/* /login form */
